# === Training artifacts ===
src/model/checkpoints/
src/model/wandb/
src/inference/inference_results/
src/inference/inference_results_ecg/
datasets/

# === Python caches ===
**/__pycache__/
srcNotebook/
checkpoints/
wandb
checkpoints_ecg_max/
checkpoints_ecg_small/
checkpoints_ucr_min/